<div>
    <header class="container">
            <h3 class="m--1 g--4">Country Details</h3>
    </header>
    <div class="container g--12">
        <div class="g--5 g-s--12 tile no-margin">
            <div>
                <div>
                    <input style = "display: inline" type="text" placeholder="Conutry" [(ngModel)]="countryName">
                    <button class="btn--raised btn--blue" style="margin-left: 40px" (click)="searchCountry(countryName)">Search</button>
                </div>
            </div>
        </div>
        <div class="g--5 g-s--12 tile no-margin">
            
        </div>
    </div>
</div>

