<div>
    <header class="no-margin-vertical">
        <h3 class="m--1 g--4">Country Details</h3>
    </header>
    <div class="container g--12">
        <div class="g--6 g-s--12 card no-margin">
            <div>
                <input #countryName style = "display: inline" type="text" placeholder="India">
                <button class="btn--raised btn--blue" style="margin-left: 40px" (click)="searchCountry(countryName.value)">Search</button>
            </div>
            <country-list [countries]="countries" (loadDetails)="loadCountryDetails($event)"></country-list>
        </div>
        <div class="g--6 g-s--12 card no-margin">
                <country-details *ngIf="countryDetails" [country]="countryDetails"></country-details>
        </div>
    </div>
</div>
